language: php
dist: trusty
group: edge

php:
  - 5.3
  - 5.4
  - 5.5
  - 5.6
  - 7.0
  - 7.1
  - nightly
  - hhvm

matrix:
  allow_failures:
    - php: hhvm

before_script:
  - composer self-update
  - composer install --ignore-platform-reqs

script:
  - mkdir -p build/logs
  - phpunit --coverage-clover build/logs/clover.xml tests/

after_script:
  - php vendor/bin/coveralls -v
